.employment {
  @media screen and (max-width: 1200px) {
    display: none;
    padding-top: -94px;
  }
}
.employment__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.employment__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.employment__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
}
.employment__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
}
.employment__label-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--revers-color);
}
