.feature {
  padding-top: 60px;
  @media screen and (max-width: 1200px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.feature__list {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.feature__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}
.feature__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 120px;
  background-color: #f5f4fa;
}
.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.feature__after-title {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--text-color);
  // max-width: 270px;
}
