.footer {
  background-color: #2f303a;
  font-weight: 400;
  color: #fff;
  width: 100vw;
}
.footer__container {
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-container {
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
}
.footer__address-container {
  @media screen and (max-width: 1200px) {
    display: block;
  }
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}
.footer__logo {
  color: var(--active-color);
  @media screen and (max-width: 1200px) {
    margin: auto;
  }
}
.footer__logo-text {
  color: var(--revers-color);
}
.footer__adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  color: var(--revers-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--active-color);
  }
  &:focus {
    color: var(--active-color);
  }
}
.footer__contacts {
  @media screen and (max-width: 1200px) {
    display: block;
  }
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--active-color);
  }
  &:focus {
    color: var(--active-color);
  }
}
.social {
  @media screen and (max-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.social__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--revers-color);
}
.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--active-color);
  }
  &:focus {
    background-color: var(--active-color);
  }
}
.subscrite {
  @media screen and (max-width: 1200px) {
    margin-top: 60px;
  }
}
.social__icon {
  fill: var(--revers-color);
  width: 20px;
  height: 20px;
}
.subscrite__title {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--revers-color);
  margin-bottom: 20px;
}
.subscrite__input {
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
    margin-bottom: 0px;
  }
  color: var(--revers-color);
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    width: 100%;
    max-width: 450px;
  }
}
.subscrite__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.subscrite__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--revers-color);
  margin: auto;
}
.submit-icon {
  fill: var(--revers-color);
  margin-left: 10px;
}
