.hero {
  background: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_mob_1x.jpg);
  max-width: 1600px;
  min-width: 320px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 118px 0;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero_mob_2x.jpg);
    }
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--revers-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  align-items: center;
  text-align: center;
}
