.portfolio {
  padding: 94px 0;
}
.filter {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.filter__list {
  padding-bottom: 50px;
}
.filter__item {
  display: inline-block;
  margin-right: 8px;
}
.filter__btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--active-color);
    color: var(--revers-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:focus {
    background-color: var(--active-color);
    color: var(--revers-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.cardset__container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.cardset__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.cardset__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.cardset {
  margin-top: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
}
.cardset__items {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-top: 30px;
  }

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .cardset__img-text {
    transform: translateY(0%);
  }
  &:focus .cardset__img-text {
    transform: translateY(0%);
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.cardset__items-wrap {
  position: relative;
  overflow: hidden;
}
.cardset__img-text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--revers-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
