.section {
  padding: 94px 0;
}
.team {
  background: #f5f4fa;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  background-color: var(--revers-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.team__title-container {
  padding: 30px 0;
}
.team__sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team__after-title {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.team__social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.team__social-item:not(:last-child) {
  margin-right: 10px;
}
.team__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--revers-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--active-color);
  fill: var(--revers-color);
}
