.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  margin-right: 93px;
}
