.backdrop {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 700ms cubic-bezier(0.41, 0.1, 0.42, 0.87),
    visibility 700ms cubic-bezier(0.41, 0.1, 0.42, 0.87);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -170%) scale(0.25) rotatex(90deg);
}
.modal {
  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
  max-width: 450px;
  width: 100%;
  min-height: 581px;
  background-color: var(--revers-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotatex(0deg);
  transition: transform 700ms cubic-bezier(0.41, 0.1, 0.42, 0.87);
  padding: 40px;
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}
.input-field {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
}
.input-text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  color: var(--text-color);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--active-color);
  }
  &:focus + .input-icon {
    fill: var(--active-color);
  }
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  &:focus {
    border-color: var(--active-color);
  }
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--active-color);
  }
}
.policy-field {
  margin-top: 20px;
  margin-bottom: 30px;
}
.policy-text {
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.policy-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-icon {
  fill: var(--revers-color);
}
.policy-check:checked + .policy-text span {
  border: none;
  background-color: var(--active-color);
  &:checked + .policy-text {
    border: none;
    fill: var(--revers-color);
  }
}
.policy-link {
  color: var(--active-color);
  text-decoration: underline;
  padding-left: 1px;
}
.submit-btn {
  display: block;
  position: relative;
  align-items: center;
  text-align: center;
  margin: auto;
}
.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--revers-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  &:hover .close-icon {
    fill: var(--active-color);
  }
  .close-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
